.headerPrincipal .container{
    display: flex;
    align-items: center;
    justify-content: space-between;/*espaciado solo entre los items*/
}

.headerPrincipal-nav{
    display: flex;
}

.rodapePrincipal-patrocinadores .container{
    display: flex;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list{
    display: flex;/*acomoda los items de manera lateral*/
    align-items: center;/*alinea los items en sentido vertical*/
    justify-content: space-around;/*espaciado tanto entre items como en los bordes*/
    width: 70%;/*ancho*/
    margin-right: 5%;
}

.rodapePrincipal-contatoForm{
    width: 25%;
}

.rodapePrincipal-contatoForm-fieldset{
    display: flex;
}

.rodapePrincipal-navMap-list{
    display: flex;
    flex-direction: column;/*elementos de un lado a otro, por default, y se utiliza column para agrupar por columnas*/
    height: 260px;
    flex-wrap: wrap;
}

.contenidoPrincipal-cursos{
    display: flex;
    flex-wrap: wrap;
}

.contenidoPrincipal-cursos-link{
    display: flex;
    width: 23%;
}

.videoSobre .container{
    display: flex;
}

.videoSobre-sobre{
    text-align: center;
    display: flex;
    flex-direction: column;
}

.videoSobre-video{
    flex-grow: 2;
    flex-shrink: 2;
}

.videoSobre-sobre-list{
    justify-content: space-between;
    flex-grow: 2;
}

/*Responsive*/
@media (max-width:768px) {


    .headerPrincipal .container {
        flex-direction: column;
        align-items: initial;
        text-align: center;
    }

    .headerPrincipal-nav {
        flex-direction: column;
    }

    .contenidoPrincipal-cursos-link {
        flex-direction: column;
        width: 100%;
    }

    .rodapePrincipal-navMap-list {
        height: auto;
        /*agranda el espacio de columna en base al contenido*/
        flex-wrap: nowrap;
    }

    .rodapePrincipal-patrocinadores .container {
        flex-direction: column;
    }

    .rodapePrincipal-contatoForm {
        width: 100%;
    }

    .rodapePrincipal-patrocinadores-list {
        align-items: center;
        width: 100%;
        margin: 0;
    }

    .rodapePrincipal-contatoForm-fieldset {
        justify-content: center;
    }

    .videoSobre .container {
        flex-direction: column;
    }

    .headerPrincipal-nav-link-app{
        order: -1;
    }

}